@model CentroSalud3.Models.Medicacion

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editar</title>
</head>

<body>

<h4 class="text-warning">@Model.MedicacionNombre</h4>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MedicacionId" />

            <div class="form-group">
                <label asp-for="MedicacionNombre" class="control-label"></label>
                <input asp-for="MedicacionNombre" class="form-control" />
                <span asp-validation-for="MedicacionNombre" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MedicacionDosis" class="control-label"></label>
                <input asp-for="MedicacionDosis" class="form-control" />
                <span asp-validation-for="MedicacionDosis" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MedicacionGrupo" class="control-label"></label>
                <select asp-for="MedicacionGrupo" asp-items="Html.GetEnumSelectList<MedicacionGrupo>()" class="form-control"></select>
                <span asp-validation-for="MedicacionGrupo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MedicacionDescripcion" class="control-label"></label>
                <textarea asp-for="MedicacionDescripcion" class="form-control"></textarea>
                <span asp-validation-for="MedicacionDescripcion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NumPacientesPautados" class="control-label"></label>
                <input asp-for="NumPacientesPautados" class="form-control" readonly="readonly" value="0"/>
                <span asp-validation-for="NumPacientesPautados" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-outline-warning" />
                <button type="reset" class="btn btn-warning">Reiniciar</button>
            </div>
        </form>
    </div>
</div>

<div class="form-group">
    <a asp-action="Index" class="btn btn-success">Atrás</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
