@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 font-weight-bold">Le damos la bienvenida al Centro de Salud</h1>
</div>

<div class="text-dark text-center">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Proin ornare urna a mi consequat malesuada. Proin eu lectus quis
        elit tincidunt ultricies sed porta tortor. <i>Sed eget felis nisl</i>. Proin ex arcu,
        vulputate ut maximus eget, hendrerit posuere diam. Donec pellentesque risus sed
        ex interdum pulvinar. In tortor nisl, sodales sed pretium consequat, blandit non
        nisl. <strong>Vestibulum ornare purus eget porta mattis</strong>. Nam at ipsum erat. Nulla mattis
        enim ac nisi sagittis, sit amet cursus leo vestibulum. Vivamus ultricies, mi eu
        commodo aliquet, elit mauris lobortis nulla, eget aliquam ipsum magna ut eros.
        Etiam et augue felis. <strong>Proin ac maximus ligula</strong>. Quisque vitae posuere dui. Maecenas
        non auctor urna. Sed at lectus vulputate, scelerisque massa non, varius nunc.
    </p>

    <img src="/Imagenes/ambulancia1.jpg" />

    <p>
        In urna nisl, molestie nec ornare eu, dignissim eget metus. Integer elementum
        leo ut elit molestie pharetra. Aliquam at euismod purus, quis finibus ligula. Ut
        ipsum arcu, auctor quis ex at, suscipit laoreet turpis. Donec bibendum lacinia
        lorem, eu imperdiet orci dignissim id. Vivamus dolor enim, aliquet ut semper ut,
        vulputate vitae ex. <strong>Vestibulum cursus neque sed nisl hendrerit luctus</strong>. Quisque vel
        magna quis magna vehicula tincidunt ac at urna. Proin ut purus placerat, lobortis
        urna vitae, luctus dolor. Maecenas commodo lectus in libero vehicula, nec tempor arcu
        tempus. Quisque rhoncus lectus et mattis tempus. Maecenas porta turpis sit amet dolor
        aliquet egestas. <strong>Donec fermentum tortor felis, ac iaculis ligula accumsan sed</strong>. Curabitur
        dui dui, efficitur non viverra quis, venenatis vitae ante. Mauris scelerisque ut justo eu
        mattis. <strong>Integer convallis quis turpis vel dictum</strong>.
    </p>

    <img src="/Imagenes/recepcion1.jpg" />

    <p>
        Phasellus nec fringilla risus. Aliquam efficitur diam at eros lacinia venenatis vel
        sit amet magna. Sed at placerat erat. Interdum et malesuada fames ac ante ipsum primis
        in faucibus. Nunc ut libero a lectus malesuada cursus. Aliquam suscipit eleifend enim at
        commodo. Donec id dolor facilisis, tincidunt neque et, rutrum eros. Sed sem libero,
        blandit id libero at, finibus dignissim odio. Sed sit amet dui ut augue porttitor vestibulum.
        Etiam sed lobortis turpis. Aliquam et ligula non quam blandit imperdiet scelerisque nec nunc.
        Morbi feugiat lobortis nunc. Aenean massa nisl, gravida ut mollis ut, facilisis vel velit.
        Vivamus feugiat consectetur ligula sed convallis. Etiam quis nunc non sapien tempus rutrum ut
        dictum enim. Etiam vitae odio condimentum justo ornare ultricies sit amet quis tellus.
    </p>

    <img src="/Imagenes/farmacos1.jpg" />
</div>