<h2 class="text-lg-center text-danger font-weight-bold">El paciente seleccionado ya tiene enfermera asignada</h2>

<p>
    <a asp-controller="Enfermera" asp-action="Index" class="btn btn-info">Atrás</a>
</p>