<h2 class="text-lg-center text-danger font-weight-bold">El paciente seleccionado ya tiene pautada esta medicación</h2>

<p>
    <a asp-controller="Medicacion" asp-action="Index" class="btn btn-success">Atrás</a>
</p>