@using CentroSalud3.Models
@model IEnumerable<PacienteConMedicacion>

<h2 class="text-success text-lg-center">Medicación del paciente <span class="text-secondary">@ViewData["paciente"]</span></h2>

<p>Hola</p>